
.navbar-default {
  padding: 10px 10px;
  background-color: inherit;
  border-style: none;
  color: rgb(27, 27, 27);
  font-size: 19px;
  font-family: 'Sunflower', sans-serif;
  font-weight: 500;
  margin: 1px 1px;
}

#loginBtn {
  color: white;
  background-color: #93cc57;
  box-shadow:  0px 6px 6px -8px black;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s;
  width: 100px;
  font-size: 18px;
}
#loginBtn:hover {
  background-color: #40914b !important;
}

#signup {
  color: #7cb342;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s;
}

#signup:hover {
  color: #40914b;
}
#activeNav {
  border-bottom: 2px solid#7cb342;
  background-color: inherit;
}

#textHov {
  margin-left: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s;
}

#textHov:hover {
  color: rgb(19, 19, 19);
  border-bottom: 2px solid#7cb342;
  box-shadow: 0px 6px 6px -9px black;
  background-color: inherit;
}

#brand {
  font-size: 40px;
  font-family: 'Poor Story', sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s;
  transition-delay: 0.1s;
  color: #314e0f;
}

#brand:hover {
  background: -webkit-linear-gradient(#c5e1a5, #314e0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#navbarMain {
margin-left: 5px;
}

