
<div id="main-content">
  <a routerLink="/" class="navbar-brand" id="brand">Nerdraid</a>
  <p id="copywrite">Copywrite @ Elan Fraiman</p>
  <div class="vertical-divider"></div>
  <div id="contact">
    <p>Email: elfraiman@gmail.com</p>
    <p>Phone: 06-14721435</p>
    <p>Github: elfraim</p>
  </div>
  <div class="vertical-divider2"></div>
  <div id="nav">
    <ul class="nav flex-column">
      <li><a href="/">Home</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="/learn">Learn</a></li>
      <li><a href="#">Discover</a></li>
    </ul>
  </div>
  <button id="scroll" (click)="scrollUp()">^</button>
</div>

