<div class="main-content">
  <h1 class="firstTitle">Assistance at any stage of your journey</h1>
  <h3 class="secondTitle">Not sure where to start? One of our courses is the perfect place to begin.</h3>

  <div class="cardOne">
    <img src="../../../assets/shopPic.svg" alt="e-commerce" class="shopPic">
    <p><span style="font-weight: 700; font-size: 17px;">Not sure how make your idea into reality?</span><br>
       What tech stack to use? What audience to target?
       one of our proffesionals is always avilable for you</p>
       <span style="color: white; cursor: pointer color" class="btn btn-success">Chat now</span>
  </div>

  <div class="cardTwo">
      <img src="../../../assets/laptop.svg" alt="tech stack" class="laptopPic">
      <p><span style="font-weight: 700; font-size: 17px;">Need help choosing a Stack?</span><br>
         choosing the right tech stack for your project crucial these days;
         get advice from one of our proffesionals</p>
         <span style="color: white; cursor: pointer color" class="btn btn-success">Chat now</span>
    </div>

    <div class="cardThree">
        <img src="../../../assets/lock.svg" alt="protected" class="lockPic">
        <p><span style="font-weight: 700; font-size: 17px">Is your website and bussiness really safe?</span><br>
           Make sure your customers are safe. Your bussiness must be up to date
            with the leatest security messures. Let us make that happen.</p>
           <span style="color: white; cursor: pointer color" class="btn btn-success">Chat now</span>
      </div>
</div>
