
<div id="main-content">
  <app-header id="header"></app-header>
  <img src="../../assets/publishing.svg" alt="Learn something">
  <div id="titleDiv">Learn something new every week
    <p style="font-size: 19px; text-align: center;">Free Courses delivered to your inbox</p>
    <button class="btn btn-primary">Signup</button>
  </div>

  <div id="design">
    <img src="../../assets/design.svg" alt="design">
    <p style="text-align: center;">Design</p>
  </div>
  <div id="bigdata">
    <img src="../../assets/bigdata.svg" alt="bigdata">
    <p style="text-align: center;">Big Data</p>
  </div>

  <div id="appdev">
    <img src="../../assets/appdev.svg" alt="appdev">
    <p style="text-align: center;">App Dev</p>
  </div>
</div>
