<div class="main-content">
  <h1 id="firstTitle">Assemble your team of Nerds</h1>
  <h3 id="firstUnderTitle">Our community is home to the best developing talent on the planet</h3>

  <div id="webDevDiv">
    <img src="../../assets/icon-web_dev.png" alt="WebDevelopers" class="imageDiv" (click)='showWebDevText()'>
    <p id="webDevs">{{ webDevs }}<br></p>
    <p style="text-align: center; font-size: 16px; font-weight: 600;">Web Developers</p>
  </div>

  <div id="webDesignDiv">
      <img src="../../assets/web-design-icon.png" alt="WebDevelopers" class="imageDiv" (click)='showDesignersText()'>
      <p id="webDevs">{{ webDesigners }}<br></p>
      <p style="text-align: center; font-size: 16px; font-weight: 600;">Web Designers</p>
    </div>

    <div id="webTeachDiv">
        <img src="../../assets/teachers.png" alt="DevTeachers" id="webTeachImg" class="imageDiv" (click)='showTeachersText()'>
        <p id="webDevs">{{ webTeachers }}<br></p>
        <p style="text-align: center; font-size: 16px; font-weight: 600;">Teachers</p>
      </div>

      <div id="webMarketDiv">
          <img src="../../assets/market.png" alt="WebDevelopers" class="imageDiv">
          <p id="webDevs">{{ marketingGurus }}<br></p>
          <p style="text-align: center; font-size: 16px; font-weight: 600;">Marketing Gurus</p>
        </div>

        <!-- After click on image -->
        <div *ngIf="showDefault === true" class="collapseText">
            <div>
                <h3>Looking for Freelance Web Developers?</h3>
                <p>Finding quality freelancers might be difficult,
                but there are ways to locate quality developers and designers.
                If your only experience has been digging through sites such as Fiverr (nothing personal!),
                you’re probably not going to come across the very best hires.</p>
            </div>
            <button type="button" class="btn btn-success" id="button" (click)="getStarted()">Get Started</button>
          </div>
          <img src="../../assets/developer.png" *ngIf="showDefault === true" class="divPicsDeveloper"/>

        <div *ngIf="showWebDevDiv === true" class="collapseText">
            <div>
                <h3>Looking for Freelance Web Developers?</h3>
                <p>Finding quality freelancers might be difficult,
                but there are ways to locate quality developers and designers.
                If your only experience has been digging through sites such as Fiverr (nothing personal!),
                you’re probably not going to come across the very best hires.</p>
            </div>
            <button type="button" class="btn btn-success" id="button" (click)="getStarted()">Get Started</button>
          </div>
          <img src="../../assets/developer.png" *ngIf="showWebDevDiv === true" class="divPicsDeveloper"/>

        <div *ngIf="showTeachersDiv === true" class="collapseText">
          <div>
              <h3>Looking for Teachers?</h3>
              <p>Finding quality teachers might be difficult,
              but we offer the highest quality teachers on a varaity of
              subjects from graphic design to front-end and back-end development.<br>
              Sign up now and talk to our amazing list of teachers.</p>
          </div>
          <button type="button" class="btn btn-success"  id="button" (click)="getStarted()">Get Started</button>
        </div>
        <img src="../../assets/teacher.png" *ngIf="showTeachersDiv === true" class="divPicsTeacher"/>

        <div *ngIf="showDesignersDiv === true" class="collapseText">
          <div>
              <h3>Looking for Web Designers?</h3>
              <p>Finding amazing Web Designers is difficult,
              but we make it simple, our designers are of the highest quality out there.<br>
              Sign up now and talk to our amazing list of web designers.</p>
          </div>
          <button type="button" class="btn btn-success"  id="button" (click)="getStarted()">Get Started</button>
        </div>
        <img src="../../assets/designer.png" *ngIf="showDesignersDiv === true" class="divPicsDesigner"/>

</div>



